{:paths ["src/cljs" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        no.cjohansen/replicant {:mvn/version "2025.06.21"}
        no.cjohansen/dataspex {:mvn/version "2025.10.1"}
        no.cjohansen/portfolio {:mvn/version "2025.08.29"}
        no.cjohansen/nexus {:mvn/version "2025.10.2"}
        thheller/shadow-cljs {:mvn/version "3.2.1"}
        applied-science/js-interop {:mvn/version "0.4.2"}
        funcool/promesa {:mvn/version "11.0.678"}
        com.cemerick/url {:mvn/version "0.1.1"}}
 :aliases
 {:dev {:extra-paths ["dev" "portfolio" "test"]
        :main-opts ["-m" "shadow.cljs.devtools.cli"]}
  :prod {:main-opts ["-m" "shadow.cljs.devtools.cli"]}}}