{:deps true
 :dev-http {8080 ["resources/public" "classpath:public"]}
 :builds
 {:dev
  {:target :browser
   :modules {:main {:init-fn webserial-starter.dev/main}}
   :output-dir "resources/public/app-js"}
  :prod
  {:target :browser
   :modules {:main {:init-fn webserial-starter.prod/main}}
   :output-dir "resources/public/app-js"}
  :portfolio
  {:target :browser
   :modules {:main {:init-fn webserial-starter.scenes/main}}
   :dev {:output-dir "resources/public/portfolio-js"}}
  :karma-test
  {:target    :karma
   :ns-regexp "-test$"
   :output-to "resources/test/karma-test.js"}}}
